# Contexto

Aqui o foco é justamente compactar os dados em um formato performático para o restante da análise, que é o `.parquet`. Esse formato garante que os dados possam ser interpretados sem dificuldades no restante do processo e da melhor forma possível, evitando ambiguidades.

In [2]:
import pandas as pd

raw_path = '../data/salaries.csv'
bronze_path = '../data/bronze/salaries.parquet'

df_raw = pd.read_csv(raw_path)

print(f"Linhas carregadas: {df_raw.shape[0]}")
display(df_raw.head())

df_raw.to_parquet(bronze_path, index=False)

print(f"Dados salvos com sucesso na camada Bronze: {bronze_path}")

Linhas carregadas: 73148

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Data Product Owner,170000,USD,170000,US,0,US,M
1,2025,SE,FT,Data Product Owner,110000,USD,110000,US,0,US,M
2,2025,SE,FT,Data Product Owner,170000,USD,170000,US,0,US,M
3,2025,SE,FT,Data Product Owner,110000,USD,110000,US,0,US,M
4,2025,SE,FT,Engineer,143000,USD,143000,US,0,US,M

Dados salvos com sucesso na camada Bronze: ../data/bronze/salaries.parquet